{{!< default}}
<main class="content">
    {{#foreach posts}}
        <article class="post">
            <h2><a href="{{url}}">{{title}}</a></h2>
            <p>{{excerpt words="30"}} <a href="{{url}}">Read more</a></p>
        </article>
    {{else}}
        <p>No posts found.</p>
    {{/foreach}}
</main>
